# Swift & Xcode
.build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace
xcuserdata/
DerivedData/

# Swift Package Manager
.swiftpm/configuration/
.swiftpm/xcode/

# Разное
.DS_Store
*.swp
*~
*.orig

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Carthage 
Carthage/Build/
